@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', serif;
}

body{
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-position: right 50vw bottom -50vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--darkCyan);
}

main div#card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

main div#card header{
    position: relative;
}

main div#card header img#pattern{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main div#card header img#user-image{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 5px solid #fff;
}

main div#card div#info{
    margin-top: 70px;
}

main div#card div#info h2{
    font-size: 20px;
}

main div#card div#info h2 span{
    color: var(--darkGray);
    font-weight: 400;
    margin-left: 5px;
}

main div#card div#info p{
    color: var(--darkGray);
    margin-top: 5px;
}

main div#card div#stats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 25px 0;
}

main div#card div#stats div.stat h2{
    font-size: 20px;
}

main div#card div#stats div.stat p{
    color: var(--darkGray);
    font-size: 13px;
    margin-top: 5px;
}


@media screen and (max-width: 375px) {
    main div#card{
        width: 90%;
    }

    main div#card header img#pattern{
        width: 100%;
    }

    body{
        background-position: right 30vw bottom -60vh, left 30vw top 30vh;
    }
}

@media screen and (max-width: 300px){
    main div#card header img#user-image{
        width: 90px;
    }

    main div#card div#info h2{
        font-size: 18px;
    }

    main div#card div#info p{
        font-size: 15px;
    }

    main div#card div#stats div.stat h2{
        font-size: 18px;
    }
    
    main div#card div#stats div.stat p{
        font-size: 11px;
    }
}

@media screen and (max-height: 400px){
    main div#card{
        top: 20px;
        margin-bottom: 20px;
        transform: translate(-50%, 0)
    }
}